<div id="g-div-1">

    <img id="g-img-1"><img>
    <p id="g-p-1"></p>

</div>

<div id="g-div-2">

    <img id="g-img-2"><img>
    <p id="g-p-2"></p>

</div>

<div id="g-div-3">

    <img id="g-img-3"><img>
    <p id="g-p-3"></p>

</div>
