<article class="hero">
    <section class="greeting">
        <h2>Welcome Your Highness!</h2>
        <p>Log in to write a funny caption to the image provided and see what others are writing too! Maybe you can become the next "Caption King"!</p>
    </section>
</article>

<!-- Main section/content -->

<section class="main">

    <figure class="container">
        <strong>Today's Image</strong>
        <img src="https://via.placeholder.com/600x400/000000.png?text=Placeholder+Image" alt="placeholder image">
        <figcaption>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique asperiores incidunt sunt laboriosam
                placeat quae illum dolorum tempore, quas corrupti eveniet neque quod ad repellendus. - John Hancock</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique asperiores incidunt sunt laboriosam
                placeat quae illum dolorum tempore, quas corrupti eveniet neque quod ad repellendus. - John Hancock</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique asperiores incidunt sunt laboriosam
                placeat quae illum dolorum tempore, quas corrupti eveniet neque quod ad repellendus. - John Hancock</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique asperiores incidunt sunt laboriosam
                placeat quae illum dolorum tempore, quas corrupti eveniet neque quod ad repellendus. - John Hancock</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique asperiores incidunt sunt laboriosam
                placeat quae illum dolorum tempore, quas corrupti eveniet neque quod ad repellendus. - John Hancock</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique asperiores incidunt sunt laboriosam
                placeat quae illum dolorum tempore, quas corrupti eveniet neque quod ad repellendus. - John Hancock</p>
        </figcaption>
        <form> 
            <label class="captionSubmit">
                <h3>Your Caption</h3>
                <textarea id="caption-text-area"></textarea>
            </label>
            {{#if loggedIn}}
                <button class="submit-caption" type="submit">Submit</button>
            {{else}}
                <a href="/login">Log in to Submit</a>
            {{/if}}
        </form>
    </figure>
</section>

<script src="/javascript/add-post.js"></script>
