 <article class="hero">
        <section class="greeting">
            <h2>Welcome Your Highness!</h2>
            <p>Write a funny caption to the image provided and see what others are writing too!</p>
        </section>
        <button class="newImage">
            <p class="hover">New Images</p>
        </button>
    </article>

    <!-- Main section/content -->

    <section class="main">
        <figure class="container">
            <strong>Image #42</strong>
            <img src="https://via.placeholder.com/600x400/000000.png?text=Placeholder+Image" alt="placeholder image">
            <figcaption>
                <p class="caption-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique asperiores incidunt sunt laboriosam placeat quae illum dolorum tempore, quas corrupti eveniet neque quod ad repellendus. - John Hancock</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique asperiores incidunt sunt laboriosam placeat quae illum dolorum tempore, quas corrupti eveniet neque quod ad repellendus. - John Hancock</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique asperiores incidunt sunt laboriosam placeat quae illum dolorum tempore, quas corrupti eveniet neque quod ad repellendus. - John Hancock</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique asperiores incidunt sunt laboriosam placeat quae illum dolorum tempore, quas corrupti eveniet neque quod ad repellendus. - John Hancock</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique asperiores incidunt sunt laboriosam placeat quae illum dolorum tempore, quas corrupti eveniet neque quod ad repellendus. - John Hancock</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique asperiores incidunt sunt laboriosam placeat quae illum dolorum tempore, quas corrupti eveniet neque quod ad repellendus. - John Hancock</p>
            </figcaption>
            <label class="captionSubmit">
                <h3>Your Caption</h3>
                <textarea></textarea>
            </label>
            {{#if loggedIn}}
            <a class="submit" href="">Submit</a>
            {{else}}
            <a class="submit" href="">Log in to submit</a>
            {{/if}}
        </figure>

    </section>

<script src="/javascript/add-post.js"></script>    
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>