<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
      :root {
    --primary-color: rgb(94, 12, 187);
    --secondary-color: rgb(127, 126, 128);
    --tertiary-color: rgb(228, 191, 25);
    --text-color: rgb(17, 17, 17);
}

/* Overides default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    color: var(--text-color);
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.7;
    background-color: var(--secondary-color);
}
    </script>
</head>
<body>
    <h1>Caption King</h1>

<h2>Login</h2>
<form action="login-register.ejs" method="POST">
    <div>
        <label for="username-l">Username</label>
        <input type="text" id="username-l" name="username-l"
        required
    </div>
    <div>
        <label for="password-l">Password</label>
        <input type="text" id="password-l" name="password-l"
        required
    </div>
    <button id="button-l" type="submit">Login</button>
</form>


<h2>Register</h2>

<form action="./login-register.ejs" method="POST">
    <div>
        <label for="username-r">Username</label>
        <input type="text" id="username-r" name="username-r"
        required
    </div>
    <div>
        <label for="password-r">Password</label>
        <input type="text" id="password-r" name="password-r"
        required
    </div>
    <button id="button-r" type="submit">Register</button>
</form>

</body>
</html>

