:root {
    --primary-color: rgb(42, 4, 78);
    --secondary-color: rgb(73, 73, 73);
    --tertiary-color: rgb(228, 191, 25);
    --text-color: rgb(17, 17, 17);
}

/* Overides default browser styles */
* {
    box-sizing: border-box;
    color: inherit;
    margin: 0;
    padding: 0;
}

body {
    color: var(--text-color);
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
    background-color: var(--primary-color);
    height:auto;
    width: auto;
}

header {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    z-index: 9999;
    top: 0;
    border-bottom: 5px solid;
    background-image: url('../images/purple-bg.png');
    background-size:20rem;
}

header img {
    padding: 5px;
}

/* Adds style to main heading */
header h1 {
    font-weight: bold;
    font-size: 32px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header h1 a {
    padding-left: 20px;
}

header a {
    text-decoration: none;
    color: var(--tertiary-color);
    text-shadow: 0 0 10px var(--text-color);
}

header nav {
    margin: 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 5px 15px;
    font-weight: normal;
    font-size: 22px;
}

header nav ul li a:hover {
    background: rgba(0, 0, 0, 0.438);
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
    font-weight: bold;
    transition: 0.25s ;
}

article {
    background-image: url('../images/purple-bg.png');
    background-size: 20rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-attachment: fixed;
    margin: 0;
    color:var(--tertiary-color);
    text-shadow: 0 0 10px var(--text-color);
    border-bottom: 2.5px solid var(--text-color);
}

article section {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 10px var(--primary-color);
}

article section h2 {
    font-weight: bold;
    font-size: 32px;
    margin: 15px 0;
    width: 50%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.400);
    border-radius: 15px;
}

article section p {
    font-weight: normal;
    font-size: 20px;
    margin: 15px;
    padding: 0;
    width: 75%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.400);
    border-radius: 15px;
}


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

main h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: var(--tertiary-color);
    text-shadow: 0 0 10px var(--text-color);
    width: 100%;
}

main form {
    display: block;
    justify-content: inherit;
    flex-wrap: inherit;
    margin: 10px 10px;
    padding: 10px 10px;
    background-color:rgba(251, 250, 252, 0.438);
    border-radius: 15px;
}

main form div {
    display: inherit;
    justify-content: center;
    padding: 5px;
    margin: 5px;
}

main form div label{
    color: var(--text-color);
    font-size: 20px;
    font-weight: bold;
    margin: 5px 15px;
}

main form div input {
    background-color:rgba(251, 250, 252, 0.438);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--text-color);
    margin: 0 5px;
}

main form div p {
    display: inherit;
    width: 25%;
    margin: 0 0 0 15px;
}

main form button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px 25px;
    margin: 5px 150px;
    border-radius: 5px;
    background-color: var(--tertiary-color);
    font-weight: bold;
}

main figure {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

main figure strong {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    padding: 5px;
    margin: 5px;
    color: var(--tertiary-color);
    text-shadow: 0 0 10px var(--text-color);
}

main figure img {
    border-radius: 100px;
}

main figure figcaption {
    background-color: rgba(0, 0, 0, 0.438);
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    color: white;
    width: 1000px;
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

main figure figcaption p {
    padding:5px 10px;

    margin: 5px;
    line-height:1.5rem;
}

main figure label {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color:rgba(251, 250, 252, 0.438);
    border-radius: 15px;
    margin: 0 25rem;
}

main figure label h3 {
    width: 100%;
    justify-content: center;
    display: inherit;
    margin: 5px;
    color: var(--text-color)
}

main figure label textarea {
    background-color: inherit;
    border: none;
    margin-bottom: 10px;
    width: 600px;
    height: 75px;
    resize: none;
}

main figure form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: inherit;
}

main figure form a, main figure form button {
    width: 15%;
    display: inherit;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    background-color: var(--tertiary-color);
    border-radius: 15px;
    text-decoration: none;
}

footer {
    background-image: url('../images/purple-bg.png');
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-size: 20rem;
    width: 100%;
    border-top: 5px solid;
}

footer p {
    color: var(--tertiary-color);
    padding: 0 20px;
    margin: 5px;
    font-weight: bold;
    text-shadow: 0 0 10px var(--text-color);
}

/* media queries */
@media screen and (min-width: 320px) {
    header {
        justify-content: center;
    }
    
    header h1 {
        justify-content: center;
    }

    main form {
        width: 300px;
    }

    main figure img {
        width: 280px;
        height: 180px;
        border-radius: 30px;
    }

    main figure figcaption {
        width: 300px;
        height: 200px;
        font-size: 14px;
    }

    main figure label {
        width: 240px;
        padding: 0 10px 5px;
    }

    main figure form a, main figure form button {
        width: 60%;
    }
} 

@media screen and (min-width: 500px) {
    header {
        justify-content: space-between;
    }
    
    main form {
        width: 480px;
    }  

    main figure img {
        width: 460px;
        height: 275px;
        border-radius: 100px;
    }

    main figure figcaption {
        width: 480px;
        height: 220px;
        font-size: 18px;
    }

    main figure label {
        width: 360px;
        padding: 0 10px 5px;
    }

    main figure form a, main figure form button {
        width: 40%;
    }
}

@media screen and (min-width: 768px) {
    main form {
        width: 700px;
    }

    main figure img {
        width: 600px;
        height: 400px;
    }

    main figure figcaption {
        width: 725px;
        height: 200px;
        font-size: 20px;
    }

    main figure label {
        width: 500px;
        padding: 0 25px 10px;
    }

    main figure form a, main figure form button {
        width: 25%;
    }
}

@media screen and (min-width: 900px) {
    main form {
        width: 875px;
    }

    main figure figcaption {
        width: 850px;
        margin: 30px 0 0;
    }

    main figure label {
        width: 650px;
        padding: 5px 25px;
    }

    main figure form a, main figure form button {
        width: 25%;
    }
}

