:root {
    --primary-color: rgb(42, 4, 78);
    --secondary-color: rgb(73, 73, 73);
    --tertiary-color: rgb(228, 191, 25);
    --text-color: rgb(17, 17, 17);
}

/* Overides default browser styles */
* {
    box-sizing: border-box;
    color: inherit;
    margin: 0;
    padding: 0;
}

body {
    color: var(--text-color);
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
    background-color: var(--primary-color);
}

header {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    z-index: 9999;
    top: 0;
    border-bottom: 5px solid;
    background-image: url('../images/purple-bg.png');
    background-size:20rem;
}

header img {
    padding: 5px;
}

/* Adds style to main heading */
header h1 {
    font-weight: bold;
    font-size: 32px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header h1 a {
    padding-left: 20px;
}

header a {
    text-decoration: none;
    color: var(--tertiary-color);
    text-shadow: 0 0 10px var(--text-color);
}

header nav {
    margin: 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 5px 15px;
    font-weight: normal;
    font-size: 22px;
}

header nav ul li a:hover {
    background: rgba(0, 0, 0, 0.438);
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
    font-weight: bold;
    transition: 0.25s ;
}

article {
    background-image: url('../images/purple-bg.png');
    background-size: 20rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-attachment: fixed;
    margin: 0;
    color:var(--tertiary-color);
    text-shadow: 0 0 10px var(--text-color);
    border-bottom: 2.5px solid var(--text-color);
}

article section {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 10px var(--primary-color);
}

article section h2 {
    font-weight: bold;
    font-size: 32px;
    margin: 15px 0;
    width: 50%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.400);
    border-radius: 15px;
}

article section p {
    font-weight: normal;
    font-size: 20px;
    margin: 15px;
    padding: 0;
    width: 75%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.400);
    border-radius: 15px;
}

article button {
    background-image: url('../images/purple-bg.png');
    background-size: 20rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-attachment: fixed;
    width: 30%;
    border: none;
    position: sticky;
    top: 2em;
}

article button p {
    padding: 0;
    margin: 7px;
    font-size: 22px;
    color:var(--tertiary-color);
    text-shadow: 0 0 10px var(--text-color);
    width: 40%;
}

article button p:hover {
    background: rgba(0, 0, 0, 0.438);
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
    font-weight: bold;
    transition: 0.25s ;
}
