:root {
    --primary-color: rgb(94, 12, 187);
    --secondary-color: rgb(127, 126, 128);
    --tertiary-color: rgb(228, 191, 25);
    --text-color: rgb(17, 17, 17);
}

/* Overides default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    color: var(--text-color);
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.7;
    background-color: var(--secondary-color);
}

header {
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url('');
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
    border-bottom: 3px solid;
}

/* Adds style to main heading */
header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    text-shadow: 0 0 10px var(--secondary-color);
    text-decoration: none;
}