:root {
    --primary-color: rgb(94, 12, 187);
    --secondary-color: rgb(73, 73, 73);
    --tertiary-color: rgb(228, 191, 25);
    --text-color: rgb(17, 17, 17);
}

/* Overides default browser styles */
* {
    box-sizing: border-box;
    color: inherit;
}

body {
    color: var(--text-color);
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
    background-color: var(--secondary-color);
    margin: 0;
}

header {
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    background-size: cover;
    border-bottom: 2px solid;
    background-image: url('../images/purple-bg.png');
    background-size:20rem;
}

/* Adds style to main heading */
header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header h1 a {
    padding-left: 20px;
}

header a {
    text-decoration: none;
    color: var(--tertiary-color);
    text-shadow: 0 0 10px var(--text-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 5px 15px;
    font-weight: normal;
    font-size: 22px;
}

header nav ul li a:hover {
    background: rgba(0, 0, 0, 0.438);
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
    font-weight: bold;
}

figure {
    background-image: url('../images/purple-bg.png');
    background-size: 20rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-attachment: fixed;
    margin: 0;
    color:var(--tertiary-color);
    text-shadow: 0 0 10px var(--text-color);
    border-bottom: 2px solid var(--text-color);
}

figure section {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 10px var(--primary-color);
}

figure section strong {
    font-weight: bold;
    font-size: 32px;
    margin: 15px 0 5px;
    width: 50%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.400);
    border-radius: 15px;
}

figure section p {
    font-weight: normal;
    font-size: 20px;
    margin: 15px 0 20px;
    width: 75%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.400);
    border-radius: 15px;
}